// base color;
$blue: #7195C7;
$blue-light: #2CBCFF;
$red: #f10;
$red-light: #EA5A5A;
$severity: #E33333;
$green: #4CCD79;
$gray: #909399;
$orange: #FC570E;
$yellow: #F0A100;
$peach: #F969AA;
$orange-hover: #FF8A56;
$orange-light: #FFF8F6;
// 背景色;
$bColor: #F5F5F5;
$bColor-light: #F5F7FA;
$bColor-body: #F4F6FC;
$bColor-mask: rgba(0, 0, 0, 0.3);
$pre-bclolr: #f8f8f8;
// 字体颜色
$code-color: #525252;
$p-color: #304455;
// 图表色;
$chart-peach: #FFA897;
$chart-purple: #C497FF;
$chart-green: #9AF8A8;
$chart-red: #E34B4B;
$chart-cyan: #a1aaf5;
$chart-blue: #9AE4F8;
// 导航栏;
$nav-bg: #EAE9E9;
$nav-bg-dark: #17181C;
$nav-bg-light: #fff;

// 字体边框颜色;
$color-text: #1a1a1a;
$color-light: #B6B6B6;
$color-border: #d8d8d8;
$color-333: #333;
$color-666: #666;
$color-999: #999;

// 侧边栏;
$menu-text: #666;
$menu-active-text: $orange;
$sub-menu-active-text: $color-666;
$menu-bg: #fff;
$menu-hover: #ccc;
$sub-menu-bg: #F9F9F9;
